<html>
    <body>
    <h1>Create New Restaurant</h1><br><br>
   <form action="/insert" method ="post" enctype="multipart/form-data">

    Name:
    <input type="text" name="name" required><br>
    
    Borough:
    <input type="text" name="borough" ><br>

    Cuisine:
    <input type="text" name="cuisine" ><br>

    Street:
    <input type="text" name="street" ><br>

    Building:
    <input type="text" name="building" ><br>

    Zipcode:
    <input type="text" name="zipcode" ><br>

    GPS Coordinates(lon.):
    <input type="text" name="gpslon" ><br>

    GPS Coordinates(lat.):
    <input type="text" name="gpslat" ><br>

    Photo:</br>
    <input type="file" name="filetoupload"><br>

    <input type="submit" value="Create"><br>

</form>
    </body>

</html>