<html>
    <body>
        <p>Use the following Username and password to login:</p>
        <ol>
            <li>student (password:student)</li>
            <li>demo  (no password)   </li>
        </ol>
        <hr>
        <form action="/login" method="post">
            Username:<input type    ="text"     name    ="name" required><br>
            Password:<input type    ="password" name    ="password"><br>
            <input type="submit" value="Login">
        </form>
    </body>

</html>