<html>

<body>

    <form action="/rate" method="post">
      
        Rate: <input type="number" name="score" min="0" max="10"><br>
       
      <input type="submit" value="Rate">
    </form>

    </body>
</html>