<html>
    <body>
    <h1>SEARCH </h1>
    Search by Name:<br>
    <form action="/search_name" method="post">
      
        <input type="text" name="name"><br>
        
       <input type="submit" value="Search">
     </form><br>
     Search by Borough:<br>
    <form action="/search_borough" method="post">
      
        <input type="text" name="borough"><br>
        
       <input type="submit" value="Search">
     </form>
     Search by Cuisine:<br>
    <form action="/search_cuisine" method="post">
      
        <input type="text" name="cuisine"><br>
        
       <input type="submit" value="Search">
     </form>
    </body>
</html>